<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image">
      </div>

      <div class="product-info">
        <h1> {{ product }} </h1>
        <p v-show="inStock">In Stock</p>
        <!-- <p v-if="inVentory > 10">In Stock</p>
        <p v-else-if="inVentory<=10 && inVentory >0">Almost sold out</p>
        <p v-else>Out of Stock</p> -->
        <span v-if="onSale">On Sale!</span>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>